asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
backcall==0.1.0
beautifulsoup4==4.8.0
bleach==3.1.0
cffi==1.12.3
colorama==0.4.1
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipykernel==5.1.1
ipython==7.6.1
ipython-genutils==0.2.0
ipywidgets==7.5.0
jedi==0.14.1
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
lxml==4.3.4
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.0.0
pandocfilters==1.4.2
parsel==1.5.1
parso==0.5.1
pathlib==1.0.1
pickleshare==0.7.5
prometheus-client==0.7.1
prompt-toolkit==2.0.9
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.4.2
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyrsistent==0.15.3
python-dateutil==2.8.0
pywin32==224
pywinpty==0.5.5
pyzmq==18.0.2
qtconsole==4.5.2
queuelib==1.5.0
Scrapy==1.7.1
Send2Trash==1.5.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.2
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
Twisted==22.10.0
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.0
zope.interface==4.6.0
